#sortable-url-messages

%ul{ id: 'sortable-url', data: { 'update-url' => sort_urls_repository_git_extras_path(@repository), remote: 'true' }, class: 'list-unstyled' }
  - @repository.available_urls_sorted.keys.each do |url_type|
    %li{ id: "repository_git_extra_#{url_type}", class: 'url_type draggable' }
      = icon_for_url_type(url_type)
      %span= label_for_url_type(url_type)

:javascript
  $(document).ready(function() { setSortableElement('#sortable-url', '#sortable-url'); });
