- if @repository.is_a?(Repository::Xitolite) && RedmineGitHosting::Config.download_revision_enabled?
  - if @repository.downloadable?

    %div{ style: 'clear: both;' }

    #git_hosting_download_buttons
      %ul
        %li
          = link_to label_with_icon(l(:label_download_format, :archive_format => '.tar'), 'fa-download'),
                    download_git_revision_repository_path(@repository, :rev => @rev, :download_format => 'tar'),
                    :class => 'button'

        %li
          = link_to label_with_icon(l(:label_download_format, :archive_format => '.tar.gz'), 'fa-download'),
                    download_git_revision_repository_path(@repository, :rev => @rev, :download_format => 'tar.gz'),
                    :class => 'button'

        %li
          = link_to label_with_icon(l(:label_download_format, :archive_format => '.zip'), 'fa-download'),
                    download_git_revision_repository_path(@repository, :rev => @rev, :download_format => 'zip'),
                    :class => 'button'

    - content_for :header_tags do
      = bootstrap_load_module(:font_awesome)
