<% if @repository.is_a?(Repository::Git) && RedmineGitolite::ConfigRedmine.get_setting(:download_revision_enabled, true) %>
  <% if (@project.active? && User.current.allowed_to?(:download_git_revision, @project)) || (!@project.active? &&  User.current.allowed_to?(:download_git_revision, nil, :global => true)) %>

    <div style="clear: both;"></div>

    <div id="git_hosting_download_buttons">
      <ul>
        <li>
          <%= link_to "<i class=\"fa fa-download\"></i>".html_safe + l(:label_download_format, :archive_format => '.tar'),
                      download_git_revision_path(@repository.id, @rev, :download_format => 'tar'),
                      :class => 'button' %>
        </li>

        <li>
          <%= link_to "<i class=\"fa fa-download\"></i>".html_safe + l(:label_download_format, :archive_format => '.tar.gz'),
                      download_git_revision_path(@repository.id, @rev, :download_format => 'tar.gz'),
                      :class => 'button' %>
        </li>

        <li>
          <%= link_to "<i class=\"fa fa-download\"></i>".html_safe + l(:label_download_format, :archive_format => '.zip'),
                      download_git_revision_path(@repository.id, @rev, :download_format => 'zip'),
                      :class => 'button' %>
        </li>
      </ul>
    </div>

    <% content_for :header_tags do %>
      <%= stylesheet_link_tag 'font_awesome', :plugin => 'redmine_bootstrap_kit' %>
    <% end %>

  <% end %>
<% end %>
