<% if @repository.is_a?(Repository::Git) %>
  <div class="git_hosting box">
    <h3><%= l(:label_repository_access_url) %></h3>
    <%= render :partial => 'common/git_urls', :locals => {:repository => @repository} %>
  </div>
<% end %>
