- if @repository.is_a?(Repository::Xitolite)
  .git_hosting_urls.box
    .container
      .row
        .col-md-8{ style: 'vertical-align: middle;' }
          = render 'common/git_urls', repository: @repository if RedmineGitHosting::Config.show_repositories_url?
        .col-md-4{ style: 'text-align: right; vertical-align: middle;' }
          = render 'repositories/download_revision', repository: @repository if RedmineGitHosting::Config.download_revision_enabled?
