%ul{ class: 'repository git' }
  - @repositories.sort.each do |repo|
    %li{ class: 'repository git' }
      = link_to_repository(repo, @repository)
      = link_to "(#{l(:label_settings)})", edit_repository_path(repo) if User.current.allowed_to?(:manage_repository, @project)

:javascript
  $(document).ready(function() { $('#sidebar p').remove(); });
