%ul{ class: 'repository git' }
  - @repositories.sort.each do |repo|
    %li{ class: 'repository git' }
      = link_to_repository(repo, @repository)

- if @repository.is_a?(Repository::Xitolite) && RedmineGitHosting::Config.show_repositories_url?
  .git_hosting_urls
    %h3= l(:label_repository_access_url)
    = render 'common/git_urls', repository: @repository

= render 'repositories/download_revision'

:javascript
  $(document).ready(function() { $('#sidebar p').remove(); });
