<h2><%= l(:label_archived_repositories) %></h2>

<% if @archived_projects.any? %>
  <ul>
    <% @archived_projects.each do |project| %>
      <% if project.repositories.any? %>
        <li>
          <%= project.name %>
          <ul>
            <% project.repositories.each do |repository| %>
              <li>
                <%= link_to h(repository.url), {:controller => 'archived_repositories', :action => 'show', :id => project, :repository_id => repository.identifier_param} %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
