<a href="{{ site.data.project.repository }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<div class="navbar navbar-default" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.data.project.name }}</a>
    </div>


    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">

        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include pages_list %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/about/release-notes/">Release Notes</a></li>
            <li><a href="{{ site.baseurl }}/about/roadmap/">Roadmap</a></li>
            <li><a href="{{ site.baseurl }}/about/license/">License</a></li>
            <li><a href="{{ site.baseurl }}/about/contribute/">How to contribute?</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/guide/installation/">Step By Step installation</a></li>
            <li><a href="{{ site.baseurl }}/guide/upgrade/">Step By Step upgrade</a></li>
            <li><a href="{{ site.baseurl }}/guide/migration/">Step By Step migration</a></li>
            <li><a href="{{ site.baseurl }}/guide/removal/">Step By Step removal</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/configuration/compatibility/">Compatibility</a></li>
            <li><a href="{{ site.baseurl }}/configuration/variables/">Configuration variables</a></li>
            <li><a href="{{ site.baseurl }}/configuration/notes/">Configuration notes</a></li>
            <li><a href="{{ site.baseurl }}/configuration/troubleshooting/">Troubleshooting</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/guide/addons-installation/">Addons Installation</a></li>
            <li><a href="{{ site.baseurl }}/guide/redmine-installation/">Redmine Installation</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/guide/development/">Development Guide</a></li>
          </ul>
        </li>
      </ul>

    </div>

  </div>

</div>
