= labelled_form_for :repository_git_notification, @git_notification,
                    url:  repository_git_notifications_path(@repository),
                    html: { method: :put, class: 'tabular', remote: true } do |f|

  = render partial: 'form', locals: { f: f }
