<%
  download_revision_timeout  = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:download_revision_timeout].nil?) ? Setting.plugin_redmine_git_hosting[:download_revision_timeout] : '60'
  download_revision_max_size = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:download_revision_max_size].nil?) ? Setting.plugin_redmine_git_hosting[:download_revision_max_size] : '512'
  download_revision_gzip     = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:download_revision_gzip].nil?) ? Setting.plugin_redmine_git_hosting[:download_revision_gzip] : 'false'
%>

<p>
  <label><%= l(:label_gitolite_download_revision_timeout) %></label>
  <%=  text_field_tag "settings[download_revision_timeout]", download_revision_timeout %>
  <br />
  <em><%= l(:label_gitolite_download_revision_timeout_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_download_revision_max_size) %></label>
  <%=  text_field_tag "settings[download_revision_max_size]", download_revision_max_size %>
  <br />
  <em><%= l(:label_gitolite_download_revision_max_size_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_download_revision_gzip) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[download_revision_gzip]", "false" %>
    <% if download_revision_gzip == 'true' %>
      <%= check_box_tag "settings[download_revision_gzip]", download_revision_gzip, {:checked => "checked"} %>
    <% else %>
      <%= check_box_tag "settings[download_revision_gzip]", download_revision_gzip %>
    <% end %>
  </span>
</p>
