<p id="sidekiq_link_url"><%= link_to 'Sidekiq Web Interface', sidekiq_url, :target => '_blank' %></p>

<div>
  <iframe id="sidekiq_iframe" src="<%= sidekiq_url %>">
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
