<div id="validation_messages_git_config_key"><%= error_messages_for 'git_config_key' %></div>

<div class="box">
  <p><%= f.text_field :key,   :required => true, :size => 65, :label => :label_key %></p>
  <p><%= f.text_field :value, :required => true, :size => 65 %></p>
</div>
