= labelled_form_for :repository_git_config_key, @git_config_key,
                    url: repository_git_config_key_path(@repository, @git_config_key),
                    html: { method: :put, class: 'tabular', remote: true } do |f|

  = render partial: 'form', locals: { f: f }
