<% if project.module_enabled?(:repository) %>
  <% if project.repository && project.repository.is_a?(Repository::Git) %>
    <% if RedmineGitolite::Config.get_setting(:show_repositories_url, true) && User.current.allowed_to?(:view_changesets, project) %>

      <div class="git_hosting box">
        <h3><%= l(:label_main_git_repository) %></h3>
        <%= render :partial => 'common/git_urls', :locals => {:repository => project.repository} %>

        <% if project.repositories.count > 1 %>
          <div style="clear: both;"></div>
          <p>
            <%= link_to l(:label_see_other_repositories), { :controller    => "/repositories",
                                                            :action        => "show",
                                                            :id            => project,
                                                            :repository_id => project.repository.identifier_param,
                                                            :rev           => nil,
                                                            :path          => nil
                                                          } %>
          </p>
        <% end %>
      </div>

    <% end %>
  <% end %>
<% end %>
