<% if @project.repository && @project.repository.is_a?(Repository::Git) %>
<div class="box">
	<h3>Git Repository</h3>
	<p>
		<%= Gitosis::renderUrls(Setting.plugin_redmine_gitosis['readOnlyBaseUrls'], @project.identifier, true) %>
	</p>
	<p>
		<%= Gitosis::renderUrls(Setting.plugin_redmine_gitosis['developerBaseUrls'], @project.identifier, false)  %>

	</p>
</div>
<% end %>
