= labelled_form_for :repository_protected_branche, @protected_branch,
                    url: repository_protected_branches_path(@repository),
                    html: { method: :post, class: 'tabular', remote: true } do |f|

  = render partial: 'form', locals: { f: f }
