/*
PLUGIN ICONS
*/
#admin-menu a.redmine-git-hosting { background-image: url('../images/git_icon.png'); }

.icon-git-logo { background-image: url('../images/git_icon.png'); padding-right: 5px; }
.icon-clone { background-image: url('../images/clone.png'); }
.icon-move { background-image: url('../images/move.png'); }

.icon-git { padding-right: 15px; }
.icon-git-disabled { opacity: 0.5; }

/*
PLUGIN SETTINGS
*/
.git_hosting_access_box {
  border: 2px solid;
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;
  margin: -6px;
  padding: 4px;
}

.git_hosting_access_box p {
  padding-left:100px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.git_hosting_access_box label {
  margin-left: -100px;
  width: 95px;
}

.git_hosting_access_box em {
  font-style: italic;
  font-weight: bold;
  font-size: 110%;
  color: #467AA7;
}

.bootstrap-switch {
  margin-left: 10px;
}

#tab-content-gitolite_redmine_config .switch-extended {
  min-width: 175px;
}

#settings p {
  margin-bottom: 15px;
  margin-top: 15px;
}

.authors-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


/*
REPOSITORY EDIT
*/
#repository-tabs li i {
  padding-right: 10px;
}


/*
REPOSITORY VIEW
*/
#sidebar li.repository.git {
  background: url('../images/git_icon.png') no-repeat scroll 0 50% transparent;
  margin: 10px 10px 10px 0;
  padding-left: 25px;
}

#sidebar ul.repository.git {
  padding-left: 15px;
  list-style-type: none;
}

#git_hosting_download_buttons {
  margin-top: 20px;
}

#git_hosting_download_buttons ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}

#sidebar li.git_url {
  margin: 0;
}

.git_hosting_urls {
  display: block;
  height: 90px;
  margin-bottom: 20px;
}

#git_hosting_download_buttons i {
  color: #FFFFFF;
  padding-right: 10px;
}

#git_hosting_download_buttons .button {
  background: none repeat scroll 0 0 #2996CC;
  border: 1px solid #E0E2E3;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  line-height: 30px;
  margin-bottom: 1px;
  margin-top: 1px;
  -moz-appearance: none;
  padding: 0 14px;
  vertical-align: middle;
  text-align: center;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}


/*
REPOSITORY SETTINGS
*/
#git_hosting_settings label {
  margin-left: -190px;
  padding-left: 10px;
  padding-right: 10px;
  width: 190px;
}


/*
MISC
*/
.git_hosting_spacer { display: block; height: 10px; clear: both; }

td.buttons { width: 20%; }

.select_key_type { margin-left: 10px; }


/*
STATISTICS
*/
#statistics-global {
  color: #FFFFFF;
  font-weight: bold;
}

.thumbnails:before, .thumbnails:after {
  content: '';
  display: table;
  line-height: 0;
}

.thumbnails:after {
  clear: both;
}

.thumbnails:before, .thumbnails:after {
  content: "";
  display: table;
  line-height: 0;
}

.thumbnails {
  list-style: none outside none;
  margin-left: -20px;
}

#statistics-global .thumbnail {
  background: none repeat scroll 0 0 #3498DB;
  padding: 10px;
}

.thumbnail {
  position: relative;
}

.thumbnail {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  display: block;
  line-height: 20px;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.span4 {
  width: 300px;
}

[class*="span"] {
  float: left;
  margin-left: 20px;
  min-height: 1px;
}

#statistics-global .thumbnail .title {
  font-size: 1.1em;
}

#statistics-global .thumbnail .value {
  font-size: 3em;
  line-height: 1em;
  padding-top: 10px;
  text-align: right;
}

.span6 {
  width: 500px;
}

.thumbnail h5 {
  background: none repeat scroll 0 0 #1ABC9C;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
}

.thumbnail h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 15px;
  border-bottom: 0 none;
}

.thumbnail h4 small {
  color: #999999;
  font-weight: normal;
  line-height: 1;
}

/*FONT AWESOME*/
.fa-align {
  padding-right: 5px;
}

/*PROJECT OVERVIEW*/
.repository-urls {
  margin-top: 15px;
}

li.url_type {
  margin: 10px;
  padding: 5px;
}

.draggable {
  cursor: move;
}
