.icon-push {
		background-image: url("../images/icon-divide.png");
}

pre.mirror-push {
	margin: 0 1em 1em 0em;
	padding: 2px;
	background-color: #fafafa;
	border: 1px solid #dadada;
	width:auto;
	overflow-x: auto;
	overflow-y: hidden;
}

pre.mirror-push.error {
	border: 1px solid #D71E1E;
}
