.icon-push
{
	background-image: url("../images/icon-divide.png");
}

pre.mirror-push {
	margin: 0 1em 1em 0em;
	padding: 2px;
	background-color: #fafafa;
	border: 1px solid #dadada;
	width:auto;
	overflow-x: auto;
	overflow-y: hidden;
}

pre.mirror-push.error {
	border: 1px solid #D71E1E;
}

.git_hosting_access_box {
	border: 2px solid; 
	background-color: #dfffdf; 
	border-color: #9fcf9f; 
	color: #005f00; 
	margin: -6px; 
	padding: 4px;
}
.git_hosting_access_box p { 
	padding-left:100px; 
	margin-top: 8px; 
	margin-bottom: 8px;
}
.git_hosting_access_box label { margin-left: -100px; width:95px; }
.git_hosting_access_box em { 
	font-style: italic; 
	font-weight: bold; 
	font-size: 110%; 
	color: #467AA7;
}

.public_key_view {
background-color: #fff;
padding:5px;
}

.public_key_view label {
font-weight: bold;
text-align: left;
}

.public_key_view .myhead {
font-style: italic;
color: #000;
size: 140%;
padding: 10px 10px 0px 0px;
margin-bottom: 5px; 
border-bottom: 1px solid #bbbbbb;
}

.public_key_view p {
margin-top: 0px;
margin-bottom: 5px;
padding-top: 0px;
}

.public_key_view legend {
font-style: italic;
color: #000;
size: 130%;
}
