#git_url_box {
  height: 25px;
  padding: 10px 0 0;
  margin: 0px;
}

#git_url_box ul li,
.box #git_url_box ul li {
  list-style-image:none;
  padding:0px;
  margin:0px;
}

#git_url_box ul li:hover,
.box #git_url_box ul li:hover {
  list-style-image:none;
  margin:0px;
  padding:0px;
  margin:0px;
}


#git_url_list {
  height: 23px;
  float: left;
  margin: 0px;
  padding: 0px 0px 0px 2px;
  list-style-image:none;
}

#git_url_list li {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  list-style-image:none;
}

#git_url_list li:hover {
  list-style-image:none;
}

#git_url_list li:first-child a {
  border-left-width: 1px;

  /* Standard, Opera 10, IE 9 */
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  /* Konquerer */
  -khtml-border-top-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  /* Gecko (Firefox, ...) */
  -moz-border-radius: 3px 0 0 3px;
  /* Webkit (Chrome, Safari, ...) */
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  /* IE <= 9 not supported */
}

#git_url_list li a {
  background-color: #eee;
  background:  url(../images/button.svg) 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -khtml-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ddd)); /* Konquerer */
  background: -moz-linear-gradient(top,  #f8f8f8,  #ddd); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ddd));   /* Webkit (Chrome, Safari, ...) */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#dddddd'); /* IE 5.5 - 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#dddddd'); /* IE 8 */

  border-color: #bbb;
  border-style: solid;
  border-width: 1px 1px 1px 0;

  color: #333;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  padding: 0 10px 0 11px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  outline: none;
}

#git_url_list li a:hover,
#git_url_list li a:focus {
  background-color: #507AAA;
  background:  url(../images/button_focus.svg) 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -khtml-gradient(linear, left top, left bottom, from(#759fcf), to(#507AAA)); /* Konquerer */
  background: -moz-linear-gradient(top,  #759fcf,  #507AAA); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#759fcf), to(#507AAA)); /* Webkit (Chrome, Safari, ...) */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#759fcf', endColorstr='#507AAA'); /* IE 5.5 - IE 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#759fcf', endColorstr='#507AAA'); /* IE 8 */

  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
  border-top-color: #759fcf;
  border-bottom-color: #507AAA;
}

#git_url_list li a.selected {
  background-color: #bbb;
  background:  url(../images/button_selected.svg) 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));  /* Konquerer */
  background: -moz-linear-gradient(top,  #ccc,  #aaa); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));  /* Webkit (Chrome, Safari, ...) */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa'); /* IE 5.5 - IE 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa'); /* IE 8 */

  color: #000;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
  border-color: #bbb;
}

#git_url_text {
  border: 1px solid #bbb;
  border-width: 1px 1px 1px 1px;
  background-color: #fff;
  color: #000;
  font-size: 10px;
  height: 17px;
  padding: 3px 5px 2px;
  width: 60%;
  max-width: 75%;
  font-family: Monaco,"DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace;
  margin: 0;
  float: left;
}

.git_url_text_big {
  width: 75%;
}

#git_url_desc {
  color: #666;
  line-height: 25px;
  font-size: 11px;
  margin: 0 0 0 10px;
}

#git_url_permissions {
  font-weight: bold;
}
