/* stylelint-disable font-family-no-missing-generic-family-keyword */

.repository_name {
  color: #505050;
  margin-top: 5px;
}

/* PROJECT OVERVIEW* /
.repository-urls {
  margin-top: 15px;
}

/*
GIT_URL_BOX
*/
.git_url_box {
  height: 25px;
  padding: 0;
  margin: 0;
}

.git_url_desc {
  color: #666;
  display: block;
  font-size: 11px;
  line-height: 25px;
  padding-top: 5px;
}

.git_url_permissions {
  float: left;
  width: 33px;
  height: 23px;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-right: 0;
  border-color: #bbb;
}

.git_url_permissions span {
  display: block;
  font-weight: bold;
  padding: 1px 3px 1px 3px;
  text-align: center;
  line-height: 23px;
}

.git_url_list {
  float: left;
  height: 23px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.git_url_list li { float: left; }

.git_url_text {
  background-color: #fff;
  border-color: #bbb;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  color: #000;
  float: left;
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: 10px;
  height: 25px;
  margin: 0;
  min-width: 55%;
  padding: 3px 5px 2px;
  width: auto;
}

.git_url_list li a {
  background-color: #eee;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 23px;
  margin: 0;
  padding: 0 10px 0 11px;
  text-decoration: none;
  outline: none;
  color: #333;
  text-shadow: 1px 1px 0 #fff;
  border-color: #bbb;
}

.git_url_list li a:hover,
.git_url_list li a:focus {
  background-color: #507aaa;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
  border-top-color: #759fcf;
  border-bottom-color: #507aaa;
}

.git_url_list li.selected a {
  background-color: #bbb;
  color: #000;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  border-color: #bbb;
}

.git_hosting h3::before {
  font-family: Font Awesome\ 5 Brands;
  content: "\f841"; /* fab git-alt */
  padding-right: 4px;
  font-size: 18px;
}

.clipboard-button {
  padding-left: 6px;
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  width: 24px;
  height: 25px;
}
