.repository_name { color: #505050; margin-top: 5px; }

/*PROJECT OVERVIEW*/
.repository-urls {
  margin-top: 15px;
}

/*
GIT_URL_BOX
*/
.git_url_box         { height: 25px; padding: 0; margin: 0px; }
.git_url_desc        { color: #666666; display: block; font-size: 11px; line-height: 25px; padding-top: 5px; }
.git_url_permissions { float: left; width: 33px; height: 23px; margin: 0; padding: 0; border-style: solid; border-width: 1px; border-right: 0; border-color: #BBBBBB; }
.git_url_permissions span {
  display: block;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
}

.git_url_list    { float: left; height: 23px; list-style-type: none; margin: 0px; padding: 0px; }
.git_url_list li { float: left; }

.git_url_text {
  background-color: #FFFFFF;
  border-color: #BBBBBB;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  color: #000000;
  float: left;
  font-family: "DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace;
  font-size: 10px;
  height: 18px;
  margin: 0;
  min-width: 55%;
  padding: 3px 5px 2px;
  width: auto;
}

.git_url_list li a {
  background-color: #EEEEEE;
  background:  url('../images/button.svg') 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -khtml-gradient(linear, left top, left bottom, from(#F8F8F8), to(#DDDDDD)); /* Konquerer */
  background: -moz-linear-gradient(top,  #F8F8F8,  #DDDDDD); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#DDDDDD));   /* Webkit (Chrome, Safari, ...) */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#DDDDDD'); /* IE 5.5 - 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#DDDDDD'); /* IE 8 */

  border-style: solid;
  border-width: 1px 0 1px 1px;

  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 23px;
  margin: 0;
  padding: 0 10px 0 11px;
  text-decoration: none;
  outline: none;

  color: #333333;
  text-shadow: 1px 1px 0 #FFFFFF;
  border-color: #BBBBBB;
}

.git_url_list li a:hover,
.git_url_list li a:focus {
  background-color: #507AAA;
  background:  url('../images/button_focus.svg') 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -khtml-gradient(linear, left top, left bottom, from(#759FCF), to(#507AAA)); /* Konquerer */
  background: -moz-linear-gradient(top,  #759FCF,  #507AAA); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#759FCF), to(#507AAA)); /* Webkit (Chrome, Safari, ...) */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#759FCF', endColorstr='#507AAA'); /* IE 5.5 - IE 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#759FCF', endColorstr='#507AAA'); /* IE 8 */

  color: #FFFFFF;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
  border-top-color: #759FCF;
  border-bottom-color: #507AAA;
}

.git_url_list li.selected a {
  background-color: #BBBBBB;
  background:  url('../images/button_selected.svg') 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#AAAAAA));  /* Konquerer */
  background: -moz-linear-gradient(top,  #CCCCCC,  #AAAAAA); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#AAAAAA));  /* Webkit (Chrome, Safari, ...) */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#AAAAAA'); /* IE 5.5 - IE 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#AAAAAA'); /* IE 8 */

  color: #000;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
  border-color: #BBBBBB;
}

.git_hosting h3::before {
  font-family: Font Awesome\ 5 Brands;
  content: "\f841"; /* fab git-alt */
  padding-right: 4px;
  font-size: 18px;
}
