.highlight table {
  display: block;
  width: 100%;
  overflow: auto;
  padding-bottom: 10px;
}

.highlight table th {
  font-weight: 600;
}

.highlight table th,
.highlight table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.highlight table tr {
  background-color: #fff;
  border: 1px solid #c6cbd1;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #998;
  font-style: italic;
}

.highlight .cp {
  color: #999;
  font-weight: bold;
}

.highlight .c1 {
  color: #998;
  font-style: italic;
}

.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c,
.highlight .cd {
  color: #998;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #000;
  background-color: #fdd;
}

.highlight .ge {
  color: #000;
  font-style: italic;
}

.highlight .gr {
  color: #a00;
}

.highlight .gh {
  color: #999;
}

.highlight .gi {
  color: #000;
  background-color: #dfd;
}

.highlight .go {
  color: #888;
}

.highlight .gp {
  color: #555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaa;
}

.highlight .gt {
  color: #a00;
}

.highlight .kc {
  color: #000;
  font-weight: bold;
}

.highlight .kd {
  color: #000;
  font-weight: bold;
}

.highlight .kn {
  color: #000;
  font-weight: bold;
}

.highlight .kp {
  color: #000;
  font-weight: bold;
}

.highlight .kr {
  color: #000;
  font-weight: bold;
}

.highlight .kt {
  color: #458;
  font-weight: bold;
}

.highlight .k,
.highlight .kv {
  color: #000;
  font-weight: bold;
}

.highlight .mf,
.highlight .mh,
.highlight .il,
.highlight .mi,
.highlight .mo,
.highlight .m,
.highlight .mb,
.highlight .mx {
  color: #099;
}

.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .bp { color: #999; }
.highlight .nb { color: #0086b3; }

.highlight .nc {
  color: #458;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #900;
  font-weight: bold;
}

.highlight .nf {
  color: #900;
  font-weight: bold;
}

.highlight .nl {
  color: #900;
  font-weight: bold;
}

.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .nv { color: #008080; }

.highlight .ow {
  color: #000;
  font-weight: bold;
}

.highlight .o {
  color: #000;
  font-weight: bold;
}

.highlight .w { color: #bbb; }
.highlight { background-color: #f8f8f8; }
