#clipboard_button {
  position: relative; /* to please IE */
  padding: 0;
  text-align: center;
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  width: 24px;
  height: 23px;
}

#clipboard_button img {
  padding-top: 3px;
  padding-left: 2px;
}

#clipboard_container {
  position: relative;
  float: left;
  margin-left: 5px;
}

#clipboard_button.zeroclipboard-is-hover {
  background-color: #aaa;
  background-image:  url('../images/button_selected.svg') 0 0 no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
  background-image: -moz-linear-gradient(top, #ccc, #aaa);
  background-image: -webkit-linear-gradient(top, #ccc, #aaa);
  background-image: -ms-linear-gradient(top, #ccc, #aaa);
  background-image: -o-linear-gradient(top, #ccc, #aaa);
  background-image: linear-gradient(to bottom, #ccc, #aaa);
}
