- report = RepositoryGlobalStats.new(repository).build

%ul{ class: 'thumbnails' }
  - report.each do |key, value|
    %li{ class: 'span4' }
      .thumbnail
        .title= key
        .value= value
