
## <summary>policy for httpd_redmine_git_script</summary>


########################################
## <summary>
##	Execute a domain transition to run httpd_redmine_git_script.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed access.
## </summary>
## </param>
#
interface(`httpd_redmine_git_script_domtrans',`
	gen_require(`
		type httpd_redmine_git_script_t, httpd_redmine_git_script_exec_t;
	')

	domtrans_pattern($1, httpd_redmine_git_script_exec_t, httpd_redmine_git_script_t)
')


########################################
## <summary>
##	Search httpd_redmine_git_script rw directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_redmine_git_script_search_rw_dir',`
	gen_require(`
		type httpd_redmine_git_script_rw_t;
	')

	allow $1 httpd_redmine_git_script_rw_t:dir search_dir_perms;
	files_search_rw($1)
')

########################################
## <summary>
##	Read httpd_redmine_git_script rw files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_redmine_git_script_read_rw_files',`
	gen_require(`
		type httpd_redmine_git_script_rw_t;
	')

	allow $1 httpd_redmine_git_script_rw_t:file r_file_perms;
	allow $1 httpd_redmine_git_script_rw_t:dir list_dir_perms;
	files_search_rw($1)
')

########################################
## <summary>
##	Create, read, write, and delete
##	httpd_redmine_git_script rw files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_redmine_git_script_manage_rw_files',`
	gen_require(`
		type httpd_redmine_git_script_rw_t;
	')

         manage_files_pattern($1, httpd_redmine_git_script_rw_t, httpd_redmine_git_script_rw_t)
')

########################################
## <summary>
##	Create, read, write, and delete
##	httpd_redmine_git_script rw dirs.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`httpd_redmine_git_script_manage_rw_dirs',`
	gen_require(`
		type httpd_redmine_git_script_rw_t;
	')

         manage_dirs_pattern($1, httpd_redmine_git_script_rw_t, httpd_redmine_git_script_rw_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an httpd_redmine_git_script environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`httpd_redmine_git_script_admin',`
	gen_require(`
		type httpd_redmine_git_script_t;
                type httpd_redmine_git_script_rw_t;
	')

	allow $1 httpd_redmine_git_script_t:process { ptrace signal_perms };
	ps_process_pattern($1, httpd_redmine_git_script_t)

	files_search_etc($1)
	admin_pattern($1, httpd_redmine_git_script_rw_t)

')
