---
layout: default
---

<div class="container">
  <div class="row">
    <div class="medium-8 columns">
      <h4 class="subheader">{{ page.date | date: "%-d %B %Y" }} - {{ page.title }}</h4>
      <hr>
      <p>
        <strong>Status :</strong>
        {% if page.status == 'latest stable' %}
          <span class="label label-success">{{ page.status }}</span>
        {% else %}
          <span class="label label-primary">{{ page.status }}</span>
        {% endif %}
      </p>
      <p><strong>Download :</strong> <a href="{{ page.download }}">here</a></p>
      <p><strong>Changelog :</strong></p>
      {{ content }}
    </div>
  </div>
</div>
