= labelled_form_for :repository_mirror, @mirror,
                    url:  repository_mirrors_path(@repository),
                    html: { method: :post, class: 'tabular', remote: @is_xhr } do |f|

  = render partial: 'form', locals: { f: f }
