= labelled_form_for :repository_post_receive_url, @post_receive_url,
                    url: repository_post_receive_url_path(@repository, @post_receive_url),
                    html: { method: :put, class: 'tabular', remote: true } do |f|

  = render partial: 'form', locals: { f: f }
