name: Run Brakeman

on:
  - push
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install package dependencies
      run: >
        sudo apt-get install --yes --quiet
        pandoc

    - name: Setup Gemfile
      run: |
        touch .enable_dev
        sed -i "3isource 'https://rubygems.org'" Gemfile

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
        bundler-cache: true

    - name: Setup gems
      run: |
        bundle install --jobs 4 --retry 3

    - name: Run Brakeman
      run: |
        bundle exec brakeman -5
